@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.user-list {
  flex-direction: column;
  margin-bottom: 40px;
  text-align: justify;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid transparent;
  font-family: Poppins, sans-serif;

  table {
    background: linear-gradient(-45deg, #fff1cc, #fdd3ca, #ecc1d6);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    align-items: center;
    width: 55%;
    font-family: Poppins, sans-serif;
    th {
      background: linear-gradient(-45deg, #fff1cc, #fdd3ca, #ecc1d6);
      padding: 10px;
      text-align: center;
      font-family: Poppins, sans-serif;
      border-top: 1px solid #080808;
      //border-bottom: 1px solid #080808;
    }

    td {
      padding: 20px;
      border-top: 1px solid #080808;
      //border-bottom: 1px solid #080808;
      width: 50%;
    }

    .custom-button {
      background: linear-gradient(-45deg, #f0d286, #e7ada0, #ecbded);
      color: #fff;
      width: 55%;
      height: 40px;
      border: none;
      border-radius: 20px;
      font-size: 1.2em;
      cursor: pointer;
      margin: 15px 20px 10px 0;
      outline: none;
      font-family: 'Poppins', sans-serif;
      box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.75);

      &:hover {
        background: #fa54fd;
      
      }
    }
  }
}
